
<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
      <a class="navbar-brand" [routerLink]="['/home']">CartPalette</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/fasion','fashion' ]"  aria-current="page" >Fashion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/furniture','homeandfurniture']" aria-current="page">Home/Furniture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[routerLink]="['/appliance','appliances']" aria-current="page">Appliance</a>
          </li>
          <li class="nav-item">
        
            <a class="nav-link"  [routerLink]="['/toys','toys']" aria-current="page" aria-disabled="true">Toys</a>
       </li>
       </ul>
        <span class="navbar-text">
          <a  class="nav-link" [routerLink]="['/cart']"class="link"><i class="bi bi-cart4"></i>Cart<span class ="cartCount ps-1">{{cartCount}}</span></a>
        </span>
     
      </div>
      </div>
    </nav>-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">CartPalette</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/fasion','fashion' ]"  >Fashion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/furniture','homeandfurniture']" >Home&Furiture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/appliance','appliances']" >Appliances</a>
            </li>
            <li class="nav-item">
        
              <a class="nav-link"  [routerLink]="['/toys','toys']" aria-current="page" aria-disabled="true">Toys</a>
         </li>
                 </ul>
                 <span class="navbar-text">
                  <a  class="nav-link" [routerLink]="['/cart']"class="link"><i class="bi bi-cart4"></i>Cart<span class ="cartCount ps-1">{{cartCount}}</span></a>
                </span>
     </div>
      </div>
    </nav>

  <!--  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">CartPalette</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/fasion','fashion' ]"  >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "[routerLink]="['/furniture','homeandfurniture']" href="#">Features</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"routerLink]="['/appliance','appliances']" >Pricing</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/toys','toys']" aria-current="page" aria-disabled="true">Toys</a>
       </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </div>
</nav>-->




       <!---- <div class="col-lg-4 col-12 offset-lg  ">
            
           
            <a [routerLink]="['/cart']"class="link"><i class="bi bi-cart4"></i>Cart<span class ="cartCount ps-1">{{cartCount}}</span></a>
          
   </div>-->


   <!--   </div>
      <a class="btn " [routerLink]="['']"><span>LOGOUT</span><span><i class="bi bi-box-arrow-right"></i></span></a>
    </div>

  </nav>-->